body {
  margin: 0;
  font-size: 16px;
}

.bucket {
  border: 1px solid red;
  height: 100vh;

  background-image: url(../images/bg-mobile.svg), linear-gradient(hsla(257, 40%, 49%, 0.4), hsla(257, 40%, 49%, 1));
  background-repeat: no-repeat;
  background-size: 100%;

  /* margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 2.5em;
  margin-right: 2.5em; */
  
  padding: 2.5em 5em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }