@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.bucket {
  border: 1px solid red;
  height: 100vh;

  background-image: url(../images/bg-mobile.svg), linear-gradient(hsla(257, 40%, 49%, 0.4), hsla(257, 40%, 49%, 1));
  background-repeat: no-repeat;
  background-size: 100%;

  padding-top: 2.5em;
  padding-right: 5em;
  padding-bottom: 2.5em;
  padding-left: 5em;
}

header {
  /* border: 1px solid violet; */
}

header .nav-brand {
  /* border: 1px solid salmon; */
  display: flex;

  margin-top: 2.25em;
  margin-bottom: 2.25em;
}

header .nav-brand img {
  /* border: 1px solid greenyellow; */
  width: 13.5em;

  position: relative;
  left: -10px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }